GROQ_API_KEY=your_groq_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# MongoDB Atlas or self-hosted MongoDB Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=
MONGODB_DB_NAME=sudharshini_ai
